.events {
  position: relative;

  display: block;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $bp-tablet) {
    width: 900px + 2 * 56px;
  }

  @media (min-width: $bp-desktop) {
    flex-direction: row;
  }
}

.events__scroll-wrapper {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.events__scroll {
  position: relative;
  height: 470px;
  overflow-x: auto;
  overflow-y: hidden;
}

.events__inner {
  display: flex;
  flex-direction: row;

  .event {
    flex: 1 0 auto;
  }
}

.events__control {
  position: absolute;
  top: 0;

  &.events__control_left {
    left: -100px;
  }

  &.events__control_right {
    right: -100px;
  }
}


.events__arrow {
  position: relative;
  display: block;
  width: 100px;
  height: 350px;
  background: url('../img/events__arrow.svg') no-repeat center center;


  &.events__arrow_left {
    transform: rotate(180deg);
  }
}

.event {
  @include box-sizing(border-box);

  position: relative;
  display: block;

  width: 300px;
  height: 350px;
  padding: 37px 25px 25px;

  border-radius: 10px;
  background-color: #020e19;
  color: #fff;

  @media (min-width: $bp-desktop) {
    + .event {
      margin-right: 56px;
    }
  }

  &.event_past,
  &.event_future {
    opacity: .65;
  }
}

.event__title {
  position: relative;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 7.5px;
  line-height: 65px;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  z-index: 1;

  [dir="rtl"] & {
    text-align: left;
  }
}

.event__title-back {
  z-index: 0;
}

.event__bg {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 375px;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: 0;
}

.event__bg_1 {
  @extend .event__bg;
  background-image: url('../img/event__bg_1.png');
}

.event__bg_2 {
  @extend .event__bg;
  background-image: url('../img/event__bg_2.png');
}

.event__bg_3 {
  @extend .event__bg;
  background-image: url('../img/event__bg_3.png');
}

.event__bg_apple {
  @extend .event__bg;
  background-image: url('../img/event__bg_apple.png');
  background-size: 381px;
}

.event__bg_pear {
  @extend .event__bg;
  background-image: url('../img/event__bg_pear.png');
  background-size: 229px;
}

.event__bg_blueberry {
  @extend .event__bg;
  background-image: url('../img/event__bg_blueberry.png');
  background-size: 229px;
}

.event__bg_kiwi {
  @extend .event__bg;
  background-image: url('../img/event__bg_kiwi@2x.png');
  background-size: 282px;
}

.event__bg_papaya {
  @extend .event__bg;
  background-image: url('../img/event__bg_papaya@2x.png');
  background-size: 282px;
}

.event__date {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.21);

  [dir="rtl"] & {
    text-align: left;
  }

  i {
    color: #e8275f;
  }
}

.event__more,
.event__more:visited {
  @include box-sizing(border-box);

  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  display: block;
  padding: 15px 20px;
  min-width: 218px;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #ffffff;
  text-shadow: 0 0 35px rgba(0, 0, 0, 0.21);
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  background-color: #eb2861;
  white-space: nowrap;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    box-shadow: 0 6px 12px 0 rgba(230, 39, 94, 0.45);
    color: #ffffff;
  }

  &.event__more_disabled,
  &.event__more_disabled:hover,
  &.event__more_disabled:active {
    box-shadow: none;
  }
}

